venv/
backend/venv/
backend/.venv/
model/venv/
model/bart-simplification/
model/bart-simplification-final/
model/*checkpoint*/

**/venv/
node_modules/
frontend/node_modules/
.env
__pycache__/
*.pyc
*.pkl
*.bin
*.pt
*.h5
*.pth


